<div class="prioridad m-0 p-0 mx-auto font-weight-light text-center">

  <i class="oi oi-chevron-top"
     [class.resaltada]="item.prioridad < MAXPRIORIDAD"
     [class.fueralimites]="item.prioridad > MAXPRIORIDAD"
     (click)="addPrioridad()"></i>

  <span class="align-middle p-2">{{item.prioridad}}</span>

  <i class="oi oi-chevron-bottom"
     (click)="decreasePrioridad()"
     [ngClass]="{
     'resaltada': item.prioridad > MINPRIORIDAD,
     'fueralimites': item.prioridad <= MINPRIORIDAD
     }"
  ></i>
</div>
